<div class="panel panel-default">
	<div class="panel-body">
		<%= message.content %>

		<footer>
			<strong><%= t('created_ago', time: time_ago_in_words(message.created_at)) %></strong>
		</footer>
	</div>
</div>