<h1>
	<%= @company.name %>
	<small>
		<%= @company.address %>
	</small>
</h1>

<h2><%= Product.model_name.human(count: @products.count) %></h2>

<% @products.each do |product| %>
	<%= render 'products/wrapper', product: product %>
<% end %>

<%#= render 'company/products/table' %>

<%#= link_to t('new_model', model: Product.model_name.human), new_company_product_path(@company) %>