<h1><%= t('resource_by_model', resource: Product.model_name.human(count: @products.count), model: @company.name) %></h1>

<% if @products.empty? %>
	<%= t('currently_no_products_available') %>
<% else %>
	<% @products.each do |product| %>
		<%= render 'products/wrapper', product: product %>
	<% end %>
<% end %>