<h1><%= t('resource_by_model', resource: Product.model_name.human(count: @products.count), model: @company.name) %></h1>

<%= render 'table' %>

<%= link_to t('new_model', model: Product.model_name.human), new_company_product_path(@company) %>