<div class="text-center">
	<h1><%= t('resource_by_model', resource: @product.name, model: link_to(@company.name, @company)).html_safe %></h1>

	<%= image_tag @product.product_picture, height: '300px', class: "img-rounded" %>

	<p>
		<%= number_to_currency @product.price %><br>
		<%#= t("#{@product.status}") %>
		<%= @company.address %>
	</p>

	<%#= link_to t('edit'), edit_company_product_path(@company, @product) %><br>
	<%#= link_to t('delete'), [@company, @product], method: :delete %>
</div>