.navbar-static-top {
	box-shadow: 0 7px 15px #C6C6BA;

	font-size: 12px;
	font-weight: 700;

	.navbar-brand {
		img { 
			height: 27px;
		}

		padding-top: 10px;
	}

	#img-fb-navbar {
		height: 20px;
	}
}