<div class="col-md-12 footer">
	<div class="text-center current-location-wrapper">
		<% if current_user_location %>
			<span class="current-location-info">
				<%= t('your_current_location_is') %>
				<strong>
					<%= current_user_location %>
				</strong>
			</span>
			| <%= link_to t('renew_location'), "#", class: 'user-location-renew-button' %>
		<% end %>
	</div>
</div>