<div class="col-md-12 footer text-center">
	<div class="wrapper-location">
		<span class="current-location-info">
			<%= t('your_current_location_is') %>
			<strong>
				<span id="span-user-address">
				</span>
			</strong>
			| <%= link_to t('renew_location'), "#", class: 'lnk-location-renew' %>
		</span>
	</div>

	<br>

	<p>
		<%= link_to t('imprint'), imprint_path %>
	</p>
</div>