<div class="col-md-12">
	<h1 class="text-center">Über Vendox</h1>

	<p class="text-center">
		Vendox ist eine standortbasierte Produkt-Suchmaschine, die dir hilft, immer das gewünschte Produkt in nächster Nähe zu finden.
	</p>

	<br>

	<div class="col-md-12">
		<div class="col-md-12 description-wrapper">
			<div class="col-md-4">
				<%= image_tag "about/radar.png", class: "img-responsive" %>
			</div>
			<div class="col-md-8 description-box">
				<h2>So funktioniert's</h2>

				Der Vendox Finder oder die Vendox Webapp bittet dich, deinen Standort lokalisieren zu dürfen. Denn Datenschutz ist uns wichtig.<br>
				Wenn du die Lokalisierung ablehnst, kannst du trotzdem die Produkte durchsuchen, nur eben ohne die Distanz zum Produkt.<br>
				Wenn du die Lokalisierung akzeptierst, werden dir anhand von deinem Standort die Produkte absteigend aufgelistet.<br>
				Mit der Volltextsuche kannst du die Auflistung auch einschränken.
				<br>
				<br>
				<strong>Und das Beste ist, Vendox ist kostenlos!</strong>
			</div>
		</div>

		<div class="col-md-12 description-wrapper">
			<div class="col-md-8 description-box">
				<h2>Vorteile</h2>

				Du kennst es sicher, wenn du im Internet ein interessantes Produkt siehst und es sofort haben willst. Leider schaffen es nicht einmal große internationale Konzerne dir dies in den den nächsten Minuten oder auch Stunden zu liefern. Mit Vendox ist das anders. Du hast die Möglichkeit, herauszufinden wo das Produkt in deiner Nähe erhältlich ist und machst dich auf dem Weg zum Händler, der dir das Produkt präsentiert und dich persönlich berät. Dadurch kannst du feststellen ob das Produkt etwas für dich ist. 
				Und das Beste, wenn es dir gefällt, kannst du es kaufen und gleich mitnehmen.

			</div>
			<div class="col-md-4">
				<%= image_tag "about/iphone.png", class: "img-responsive" %>
			</div>
		</div>

		<div class="col-md-12 description-wrapper">
			<div class="col-md-3">
				<%= image_tag "about/app-icon.png", class: "img-responsive" %>
			</div>
			<div class="col-md-9 description-box">
				<h2>Vendox Finder</h2>

				Der Vendox Finder ist die native App für dein Smartphone. Dadurch wird das Nutzererlebnis und die Lokalisierung verbessert. Der Vendox Finder ist derzeit für iOS erhältlich und demnächst auch für Android.
			</div>
		</div>
	</div>
</div>