<%= provide(:title, t('imprint')) %>

<div class="text-center">
	<%= render 'shared/header', title: t('imprint') %>

	<p>
		<strong>
			Tobias Feistmantl<br>
			Vendox
		</strong><br>
		Fiecht - Au 31<br>
		A- 6134 Vomp<br>
		Tel. +43 (0) 52 42 - 9 08 20<br>
		E-Mail: finder@vendox.net
	</p>
</div>