$body-bg: #FAFAFA;

$navbar-default-bg: #194F86;
$navbar-default-border: #14406B;
$navbar-default-link-color: #fff;
$navbar-default-link-hover-color: #fff;
$navbar-default-link-active-color: #fff;
$navbar-default-toggle-icon-bar-bg: #fff;

$border-radius-base: 2px;

$font-family-sans-serif: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$headings-font-weight: 300;

@import "**/*";
@import "bootstrap-sprockets";
@import "bootstrap";
@import url(http://fonts.googleapis.com/css?family=Roboto:400,300,100,100italic,300italic);
