$body-bg: #FAFAFA;

$navbar-height: 70px;

$navbar-default-border: #E6E6E6;
$navbar-default-link-color: #fff;
$navbar-default-link-hover-color: #fff;
$navbar-default-toggle-icon-bar-bg: #fff;

$border-radius-base: 2px;

@import "*";
@import "shared/*";
@import "bootstrap-sprockets";
@import "bootstrap";

#helpBlock {
	display: none;
}