$body-bg: #FAFAFA;

$navbar-height: 70px;

$navbar-default-bg: #fff;
$navbar-default-color: #000;
$navbar-default-border: #E6E6E6;
$navbar-default-link-color: #000;
$navbar-default-link-hover-color: #7F7F7F;

@import "*";
@import "shared/*";
@import "bootstrap-sprockets";
@import "bootstrap";