.wrapper-no-products-nearby {
	padding-top: 20px;
	padding-bottom: 30px;
	color: #848484;
	font-weight: 100;

	h2 {
		margin: 0;
		margin-bottom: 15px;
	}

	.span-products-still-listed {
		font-size: 20px;
	}
}