// Place all the styles related to the Welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.facebook-like-wrapper {
	margin-bottom: 20px;
}

#app-store-badge {
	width: 160px;
	position: relative;
	margin-bottom: 15px;
}

.not-listed-wrapper {
	h3 {
		line-height: 35px;
	}
}