// Place all the styles related to the Welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.facebook-like-wrapper {
	margin-bottom: 20px;
}

#app-store-badge {
	width: 160px;
	position: relative;
	margin-bottom: 15px;
}

.description-wrapper {
	margin-bottom: 20px;

	.description-box {
		background-color: #fff;
		border: solid 1px #F2F2F2;
		border-radius: 4px;
		padding: 20px 10px;

		h2 {
			margin: 0 0 10px 0;
		}
	}
}