<div class="panel panel-default">
	<div class="panel-body">
		<%= search_form_for @q do |f| %>
			<%= f.input :name_cont, label: false %>
			<div class="form-group">
				<%= text_field_tag :location, current_user_location, placeholder: t('location_were_you_are'), class: 'form-control current-location-field' %>
			</div>
			<%= f.button :submit %>
		<% end %>
	</div>
</div>